<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>USERNAME</th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let eachCustomer of allCustomers">
                <td>{{ eachCustomer.id }}</td>
                <td>{{ eachCustomer.firstname }}</td>
                <td>{{ eachCustomer.lastname }}</td>
                <td>{{ eachCustomer.username }}</td>
            </tr>
        </tbody>
    </table>
</div>>