<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IMAGE</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th></th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let eachProduct of allProducts">
                <td><img src="{{ eachProduct.image }}" width="130px" height="125px" alt ="null" /></td>
                <td>{{ eachProduct.name }}</td>
                <td>{{ eachProduct.price }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="addToCart(eachProduct)">
                        <span class="material-symbols-outlined">Add to Cart</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
