<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form (ngSubmit)="addNewAccount()">
            <div class="card mt-3">
                <div class="card-title bg-success text-white"><h2>REGISTER</h2></div>
                <div class="card-body">
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Email:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="email" 
                            placeholder="Enter email"
                            name="uemail"
                            [(ngModel)]="newAccount.email">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="firstName" 
                            placeholder="Enter First Name"
                            name="uFirst"
                            [(ngModel)]="newAccount.firstname">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="lastName" 
                            placeholder="Enter Last Name"
                            name="uLast"
                            [(ngModel)]="newAccount.lastname">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Username:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="username" 
                            placeholder="Enter user name"
                            name="uName"
                            [(ngModel)]="newAccount.username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input 
                            type="password" 
                            class="form-control" 
                            id="password"
                            placeholder="Enter password" 
                            name="uPassword"
                            [(ngModel)]="newAccount.password">
                    </div> 
                </div>
                <div class="card-footer bg-success">
                    <button type="submit" class="btn btn-warning">REGISTER</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

